html, body {
  margin: 0;
  padding: 0;
}
.bodyIndex {
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.bodyIndex .loaderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
}
.bodyIndex .loaderDiv img {
  width: 80px;
  height: 80px;
}
.bodyIndex button.floatingButton {
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 45px;
  border: none;
  border-radius: 100%;
  padding: 10px 15px;
  opacity: 0.8;
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}
.bodyIndex button.floatingButton img {
  width: 32px;
  height: 37px;
}
.bodyIndex button.floatingButton:hover {
  background-color: #27ae60;
  transition: 0.3s;
}
.bodyIndex button.floatingButton:active {
  background-color: #7f8c8d;
}
