.error404 {
  width: 100%;
  height: 100vh;
  background: url('../images/error404/bg-error404.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.error404 .head404 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
}
.error404 .head404 p:hover {
  text-decoration: underline;
}
.error404 .error404Content {
  display: flex;
  height: 60vh;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.error404 .error404Content p {
  font-family: 'Rubik-Light';
  font-size: 30px;
  color: #fff;
  margin-top: 20px;
}
.error404 .error404Content button {
  background: #57D284;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 164px;
  height: 48px;
  font-family: 'Rubik-Bold';
  font-size: 18px;
}
@media(max-width: 375px){
  .error404 .error404Content img {
    width: 100%;
  }
  .error404 .error404Content button {
    width: 100%;
  }
  .error404 .error404Content p {
    width: 100%;
  }
}
