.footer {
  width: 100%;
  margin: 0;
  background-color: #000;
  bottom: 0;
  position: fixed;
  z-index: 10;
}
.footer .footerContent {
  padding: 8px 0;
  text-align: center;
}
.footer .footerContent p {
  color: #fff;
  margin: 0;
  font-family: 'Rubik-Light';
  font-size: 12px;
  letter-spacing: 0.5px;
}
.footer .footerContent p a {
  font-family: 'Rubik-Light';
  font-size: 12px;
  color: #2ecc71;
}
